* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/bananas.png");
    display: block;
    margin: 40px 100px 40px 100px;
}

header {
    background-color: rgb(142, 200, 219);
    /* border: 10px; */
    border-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 75px; 
}

nav {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.content1 {
    background-color: rgb(142, 200, 219);
    margin: 50px 100px;
    padding: 10px 20px 20px 20px;
}

h2 {
    color: lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    background-color: rgb(142, 200, 219);
    margin-left: 200px;
    width: 50%;
}

.text-image1 {
    padding-right: 100px;
    float: left;
}

.text-image2 {
    padding-left: 100px;
    float: right;
}

.text-image3 {
    padding-right: 100px;
    float: left;
}

.text-image4 {
    padding-left: 100px;
    float: right;
}

.text-image5 {
    padding: 3px;
}

footer {
    background-color: rgb(142, 200, 219);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    height: 65px;
}

.margin {
    background-color: lightseagreen;
    color:lightseagreen;
    margin: 0px 0px 0px 0px;
    position: overlay; 
    width: 100%;
}

.copyright {
    padding-top: 20px;
    text-align: center;
}
